<div id="viz">

<p></p>
</div>

<div>
	<svg id="visualisation"></svg>
</div>
{{students}}

{{book}}

<template name="quickForm">
  {{#autoForm collection="Books" id="insertBookForm" type="insert"}}
    <fieldset>
      <legend>Add a Book</legend>
      {{> afQuickField name='title'}}
      {{> afQuickField name='author'}}
      {{> afQuickField name='summary' rows=6}}
      {{> afQuickField name='copies'}}
      {{> afQuickField name='lastCheckedOut'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}
</template>


<blaze-template name="insertBookForm"></blaze-template>


<blaze-template name="quickForm" id="fields1" schema=Books.attachSchema></blaze-template>
<template name="quickFormWithParameters">
  
    {{#autoForm collection="Books" type="update" id="booksUpdateForm" doc=selectedBookDoc}}
      {{> afFormGroup name="name" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
  {{/autoForm}}
</template>

<blaze-template name="quickFormWithParameters"></blaze-template>





